body{
	margin-left: 100px;
	margin-right: 100 px;
	background: #333;
	color: white;
	padding-left: 100px;
	padding-right: 100px;
}
header{
	margin-left: 100px;
	margin-right: 100 px;
	margin: 10px;
}
h1{text-align: center;
	border-bottom: 10px solid;
	}
a{
	color: blue;
	font-size: 20px;
	color: #32a89d;
	margin: auto;
	text-align: center;
}
.column{
	display: flex;
}